/* body {
    background-color: rgba(0, 0, 0, .9);
    color: white;
} */

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

@-webkit-keyframes left {
    20% {
        -webkit-transform: translate(0, 0) rotate(-0.5turn);
        -ms-transform: translate(0, 0) rotate(-0.5turn);
        transform: translate(0, 0) rotate(-0.5turn);
    }

    20.00001% {
        -webkit-transform: translate(120px, 0) rotate(0);
        -ms-transform: translate(120px, 0) rotate(0);
        transform: translate(120px, 0) rotate(0);
    }

    40% {
        -webkit-transform: translate(120px, 0) rotate(0.5turn);
        -ms-transform: translate(120px, 0) rotate(0.5turn);
        transform: translate(120px, 0) rotate(0.5turn);
    }

    40.00001% {
        -webkit-transform: translate(240px, 0) rotate(0);
        -ms-transform: translate(240px, 0) rotate(0);
        transform: translate(240px, 0) rotate(0);
    }

    60% {
        -webkit-transform: translate(240px, 0) rotate(-1turn);
        -ms-transform: translate(240px, 0) rotate(-1turn);
        transform: translate(240px, 0) rotate(-1turn);
    }

    60.00001% {
        -webkit-transform: translate(120px, 0) rotate(-0.5turn);
        -ms-transform: translate(120px, 0) rotate(-0.5turn);
        transform: translate(120px, 0) rotate(-0.5turn);
    }

    80% {
        -webkit-transform: translate(120px, 0) rotate(0);
        -ms-transform: translate(120px, 0) rotate(0);
        transform: translate(120px, 0) rotate(0);
    }

    80.00001% {
        -webkit-transform: translate(0, 0) rotate(0.5turn);
        -ms-transform: translate(0, 0) rotate(0.5turn);
        transform: translate(0, 0) rotate(0.5turn);
    }

    100% {
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@-moz-keyframes left {
    20% {
        -webkit-transform: translate(0, 0) rotate(-0.5turn);
        -ms-transform: translate(0, 0) rotate(-0.5turn);
        transform: translate(0, 0) rotate(-0.5turn);
    }

    20.00001% {
        -webkit-transform: translate(120px, 0) rotate(0);
        -ms-transform: translate(120px, 0) rotate(0);
        transform: translate(120px, 0) rotate(0);
    }

    40% {
        -webkit-transform: translate(120px, 0) rotate(0.5turn);
        -ms-transform: translate(120px, 0) rotate(0.5turn);
        transform: translate(120px, 0) rotate(0.5turn);
    }

    40.00001% {
        -webkit-transform: translate(240px, 0) rotate(0);
        -ms-transform: translate(240px, 0) rotate(0);
        transform: translate(240px, 0) rotate(0);
    }

    60% {
        -webkit-transform: translate(240px, 0) rotate(-1turn);
        -ms-transform: translate(240px, 0) rotate(-1turn);
        transform: translate(240px, 0) rotate(-1turn);
    }

    60.00001% {
        -webkit-transform: translate(120px, 0) rotate(-0.5turn);
        -ms-transform: translate(120px, 0) rotate(-0.5turn);
        transform: translate(120px, 0) rotate(-0.5turn);
    }

    80% {
        -webkit-transform: translate(120px, 0) rotate(0);
        -ms-transform: translate(120px, 0) rotate(0);
        transform: translate(120px, 0) rotate(0);
    }

    80.00001% {
        -webkit-transform: translate(0, 0) rotate(0.5turn);
        -ms-transform: translate(0, 0) rotate(0.5turn);
        transform: translate(0, 0) rotate(0.5turn);
    }

    100% {
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@-o-keyframes left {
    20% {
        -webkit-transform: translate(0, 0) rotate(-0.5turn);
        -ms-transform: translate(0, 0) rotate(-0.5turn);
        transform: translate(0, 0) rotate(-0.5turn);
    }

    20.00001% {
        -webkit-transform: translate(120px, 0) rotate(0);
        -ms-transform: translate(120px, 0) rotate(0);
        transform: translate(120px, 0) rotate(0);
    }

    40% {
        -webkit-transform: translate(120px, 0) rotate(0.5turn);
        -ms-transform: translate(120px, 0) rotate(0.5turn);
        transform: translate(120px, 0) rotate(0.5turn);
    }

    40.00001% {
        -webkit-transform: translate(240px, 0) rotate(0);
        -ms-transform: translate(240px, 0) rotate(0);
        transform: translate(240px, 0) rotate(0);
    }

    60% {
        -webkit-transform: translate(240px, 0) rotate(-1turn);
        -ms-transform: translate(240px, 0) rotate(-1turn);
        transform: translate(240px, 0) rotate(-1turn);
    }

    60.00001% {
        -webkit-transform: translate(120px, 0) rotate(-0.5turn);
        -ms-transform: translate(120px, 0) rotate(-0.5turn);
        transform: translate(120px, 0) rotate(-0.5turn);
    }

    80% {
        -webkit-transform: translate(120px, 0) rotate(0);
        -ms-transform: translate(120px, 0) rotate(0);
        transform: translate(120px, 0) rotate(0);
    }

    80.00001% {
        -webkit-transform: translate(0, 0) rotate(0.5turn);
        -ms-transform: translate(0, 0) rotate(0.5turn);
        transform: translate(0, 0) rotate(0.5turn);
    }

    100% {
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes left {
    20% {
        -webkit-transform: translate(0, 0) rotate(-0.5turn);
        -ms-transform: translate(0, 0) rotate(-0.5turn);
        transform: translate(0, 0) rotate(-0.5turn);
    }

    20.00001% {
        -webkit-transform: translate(120px, 0) rotate(0);
        -ms-transform: translate(120px, 0) rotate(0);
        transform: translate(120px, 0) rotate(0);
    }

    40% {
        -webkit-transform: translate(120px, 0) rotate(0.5turn);
        -ms-transform: translate(120px, 0) rotate(0.5turn);
        transform: translate(120px, 0) rotate(0.5turn);
    }

    40.00001% {
        -webkit-transform: translate(240px, 0) rotate(0);
        -ms-transform: translate(240px, 0) rotate(0);
        transform: translate(240px, 0) rotate(0);
    }

    60% {
        -webkit-transform: translate(240px, 0) rotate(-1turn);
        -ms-transform: translate(240px, 0) rotate(-1turn);
        transform: translate(240px, 0) rotate(-1turn);
    }

    60.00001% {
        -webkit-transform: translate(120px, 0) rotate(-0.5turn);
        -ms-transform: translate(120px, 0) rotate(-0.5turn);
        transform: translate(120px, 0) rotate(-0.5turn);
    }

    80% {
        -webkit-transform: translate(120px, 0) rotate(0);
        -ms-transform: translate(120px, 0) rotate(0);
        transform: translate(120px, 0) rotate(0);
    }

    80.00001% {
        -webkit-transform: translate(0, 0) rotate(0.5turn);
        -ms-transform: translate(0, 0) rotate(0.5turn);
        transform: translate(0, 0) rotate(0.5turn);
    }

    100% {
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@-webkit-keyframes right {
    20% {
        -webkit-transform: translate(0, 0) rotate(-0.5turn);
        -ms-transform: translate(0, 0) rotate(-0.5turn);
        transform: translate(0, 0) rotate(-0.5turn);
    }

    20.00001% {
        -webkit-transform: translate(-120px, 0) rotate(0);
        -ms-transform: translate(-120px, 0) rotate(0);
        transform: translate(-120px, 0) rotate(0);
    }

    40% {
        -webkit-transform: translate(-120px, 0) rotate(0.5turn);
        -ms-transform: translate(-120px, 0) rotate(0.5turn);
        transform: translate(-120px, 0) rotate(0.5turn);
    }

    40.00001% {
        -webkit-transform: translate(-240px, 0) rotate(0);
        -ms-transform: translate(-240px, 0) rotate(0);
        transform: translate(-240px, 0) rotate(0);
    }

    60% {
        -webkit-transform: translate(-240px, 0) rotate(-1turn);
        -ms-transform: translate(-240px, 0) rotate(-1turn);
        transform: translate(-240px, 0) rotate(-1turn);
    }

    60.00001% {
        -webkit-transform: translate(-120px, 0) rotate(-0.5turn);
        -ms-transform: translate(-120px, 0) rotate(-0.5turn);
        transform: translate(-120px, 0) rotate(-0.5turn);
    }

    80% {
        -webkit-transform: translate(-120px, 0) rotate(0);
        -ms-transform: translate(-120px, 0) rotate(0);
        transform: translate(-120px, 0) rotate(0);
    }

    80.00001% {
        -webkit-transform: translate(0, 0) rotate(0.5turn);
        -ms-transform: translate(0, 0) rotate(0.5turn);
        transform: translate(0, 0) rotate(0.5turn);
    }

    100% {
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@-moz-keyframes right {
    20% {
        -webkit-transform: translate(0, 0) rotate(-0.5turn);
        -ms-transform: translate(0, 0) rotate(-0.5turn);
        transform: translate(0, 0) rotate(-0.5turn);
    }

    20.00001% {
        -webkit-transform: translate(-120px, 0) rotate(0);
        -ms-transform: translate(-120px, 0) rotate(0);
        transform: translate(-120px, 0) rotate(0);
    }

    40% {
        -webkit-transform: translate(-120px, 0) rotate(0.5turn);
        -ms-transform: translate(-120px, 0) rotate(0.5turn);
        transform: translate(-120px, 0) rotate(0.5turn);
    }

    40.00001% {
        -webkit-transform: translate(-240px, 0) rotate(0);
        -ms-transform: translate(-240px, 0) rotate(0);
        transform: translate(-240px, 0) rotate(0);
    }

    60% {
        -webkit-transform: translate(-240px, 0) rotate(-1turn);
        -ms-transform: translate(-240px, 0) rotate(-1turn);
        transform: translate(-240px, 0) rotate(-1turn);
    }

    60.00001% {
        -webkit-transform: translate(-120px, 0) rotate(-0.5turn);
        -ms-transform: translate(-120px, 0) rotate(-0.5turn);
        transform: translate(-120px, 0) rotate(-0.5turn);
    }

    80% {
        -webkit-transform: translate(-120px, 0) rotate(0);
        -ms-transform: translate(-120px, 0) rotate(0);
        transform: translate(-120px, 0) rotate(0);
    }

    80.00001% {
        -webkit-transform: translate(0, 0) rotate(0.5turn);
        -ms-transform: translate(0, 0) rotate(0.5turn);
        transform: translate(0, 0) rotate(0.5turn);
    }

    100% {
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@-o-keyframes right {
    20% {
        -webkit-transform: translate(0, 0) rotate(-0.5turn);
        -ms-transform: translate(0, 0) rotate(-0.5turn);
        transform: translate(0, 0) rotate(-0.5turn);
    }

    20.00001% {
        -webkit-transform: translate(-120px, 0) rotate(0);
        -ms-transform: translate(-120px, 0) rotate(0);
        transform: translate(-120px, 0) rotate(0);
    }

    40% {
        -webkit-transform: translate(-120px, 0) rotate(0.5turn);
        -ms-transform: translate(-120px, 0) rotate(0.5turn);
        transform: translate(-120px, 0) rotate(0.5turn);
    }

    40.00001% {
        -webkit-transform: translate(-240px, 0) rotate(0);
        -ms-transform: translate(-240px, 0) rotate(0);
        transform: translate(-240px, 0) rotate(0);
    }

    60% {
        -webkit-transform: translate(-240px, 0) rotate(-1turn);
        -ms-transform: translate(-240px, 0) rotate(-1turn);
        transform: translate(-240px, 0) rotate(-1turn);
    }

    60.00001% {
        -webkit-transform: translate(-120px, 0) rotate(-0.5turn);
        -ms-transform: translate(-120px, 0) rotate(-0.5turn);
        transform: translate(-120px, 0) rotate(-0.5turn);
    }

    80% {
        -webkit-transform: translate(-120px, 0) rotate(0);
        -ms-transform: translate(-120px, 0) rotate(0);
        transform: translate(-120px, 0) rotate(0);
    }

    80.00001% {
        -webkit-transform: translate(0, 0) rotate(0.5turn);
        -ms-transform: translate(0, 0) rotate(0.5turn);
        transform: translate(0, 0) rotate(0.5turn);
    }

    100% {
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes right {
    20% {
        -webkit-transform: translate(0, 0) rotate(-0.5turn);
        -ms-transform: translate(0, 0) rotate(-0.5turn);
        transform: translate(0, 0) rotate(-0.5turn);
    }

    20.00001% {
        -webkit-transform: translate(-120px, 0) rotate(0);
        -ms-transform: translate(-120px, 0) rotate(0);
        transform: translate(-120px, 0) rotate(0);
    }

    40% {
        -webkit-transform: translate(-120px, 0) rotate(0.5turn);
        -ms-transform: translate(-120px, 0) rotate(0.5turn);
        transform: translate(-120px, 0) rotate(0.5turn);
    }

    40.00001% {
        -webkit-transform: translate(-240px, 0) rotate(0);
        -ms-transform: translate(-240px, 0) rotate(0);
        transform: translate(-240px, 0) rotate(0);
    }

    60% {
        -webkit-transform: translate(-240px, 0) rotate(-1turn);
        -ms-transform: translate(-240px, 0) rotate(-1turn);
        transform: translate(-240px, 0) rotate(-1turn);
    }

    60.00001% {
        -webkit-transform: translate(-120px, 0) rotate(-0.5turn);
        -ms-transform: translate(-120px, 0) rotate(-0.5turn);
        transform: translate(-120px, 0) rotate(-0.5turn);
    }

    80% {
        -webkit-transform: translate(-120px, 0) rotate(0);
        -ms-transform: translate(-120px, 0) rotate(0);
        transform: translate(-120px, 0) rotate(0);
    }

    80.00001% {
        -webkit-transform: translate(0, 0) rotate(0.5turn);
        -ms-transform: translate(0, 0) rotate(0.5turn);
        transform: translate(0, 0) rotate(0.5turn);
    }

    100% {
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@-webkit-keyframes first {
    0%, 39% {
        background: deepskyblue;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    40% {
        background: red;
        -webkit-transform: translate(0, -5px) rotate(0);
        -ms-transform: translate(0, -5px) rotate(0);
        transform: translate(0, -5px) rotate(0);
    }

    45%, 59% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    60% {
        background: deepskyblue;
        -webkit-transform: translate(0, -5px) rotate(0);
        -ms-transform: translate(0, -5px) rotate(0);
        transform: translate(0, -5px) rotate(0);
    }

    65% {
        background: deepskyblue;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@-moz-keyframes first {
    0%, 39% {
        background: deepskyblue;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    40% {
        background: red;
        -webkit-transform: translate(0, -5px) rotate(0);
        -ms-transform: translate(0, -5px) rotate(0);
        transform: translate(0, -5px) rotate(0);
    }

    45%, 59% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    60% {
        background: deepskyblue;
        -webkit-transform: translate(0, -5px) rotate(0);
        -ms-transform: translate(0, -5px) rotate(0);
        transform: translate(0, -5px) rotate(0);
    }

    65% {
        background: deepskyblue;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@-o-keyframes first {
    0%, 39% {
        background: deepskyblue;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    40% {
        background: red;
        -webkit-transform: translate(0, -5px) rotate(0);
        -ms-transform: translate(0, -5px) rotate(0);
        transform: translate(0, -5px) rotate(0);
    }

    45%, 59% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    60% {
        background: deepskyblue;
        -webkit-transform: translate(0, -5px) rotate(0);
        -ms-transform: translate(0, -5px) rotate(0);
        transform: translate(0, -5px) rotate(0);
    }

    65% {
        background: deepskyblue;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes first {
    0%, 39% {
        background: deepskyblue;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    40% {
        background: red;
        -webkit-transform: translate(0, -5px) rotate(0);
        -ms-transform: translate(0, -5px) rotate(0);
        transform: translate(0, -5px) rotate(0);
    }

    45%, 59% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    60% {
        background: deepskyblue;
        -webkit-transform: translate(0, -5px) rotate(0);
        -ms-transform: translate(0, -5px) rotate(0);
        transform: translate(0, -5px) rotate(0);
    }

    65% {
        background: deepskyblue;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@-webkit-keyframes fourth {
    0%, 39% {
        background: deepskyblue;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    40% {
        background: red;
        -webkit-transform: translate(0, 5px) rotate(0);
        -ms-transform: translate(0, 5px) rotate(0);
        transform: translate(0, 5px) rotate(0);
    }

    45%, 59% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    60% {
        background: deepskyblue;
        -webkit-transform: translate(0, 5px) rotate(0);
        -ms-transform: translate(0, 5px) rotate(0);
        transform: translate(0, 5px) rotate(0);
    }

    65% {
        background: deepskyblue;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@-moz-keyframes fourth {
    0%, 39% {
        background: deepskyblue;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    40% {
        background: red;
        -webkit-transform: translate(0, 5px) rotate(0);
        -ms-transform: translate(0, 5px) rotate(0);
        transform: translate(0, 5px) rotate(0);
    }

    45%, 59% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    60% {
        background: deepskyblue;
        -webkit-transform: translate(0, 5px) rotate(0);
        -ms-transform: translate(0, 5px) rotate(0);
        transform: translate(0, 5px) rotate(0);
    }

    65% {
        background: deepskyblue;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@-o-keyframes fourth {
    0%, 39% {
        background: deepskyblue;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    40% {
        background: red;
        -webkit-transform: translate(0, 5px) rotate(0);
        -ms-transform: translate(0, 5px) rotate(0);
        transform: translate(0, 5px) rotate(0);
    }

    45%, 59% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    60% {
        background: deepskyblue;
        -webkit-transform: translate(0, 5px) rotate(0);
        -ms-transform: translate(0, 5px) rotate(0);
        transform: translate(0, 5px) rotate(0);
    }

    65% {
        background: deepskyblue;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes fourth {
    0%, 39% {
        background: deepskyblue;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    40% {
        background: red;
        -webkit-transform: translate(0, 5px) rotate(0);
        -ms-transform: translate(0, 5px) rotate(0);
        transform: translate(0, 5px) rotate(0);
    }

    45%, 59% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    60% {
        background: deepskyblue;
        -webkit-transform: translate(0, 5px) rotate(0);
        -ms-transform: translate(0, 5px) rotate(0);
        transform: translate(0, 5px) rotate(0);
    }

    65% {
        background: deepskyblue;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@-webkit-keyframes second {
    0%, 19% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    20% {
        background: yellow;
        -webkit-transform: translate(0, -5px) rotate(0);
        -ms-transform: translate(0, -5px) rotate(0);
        transform: translate(0, -5px) rotate(0);
    }

    25%, 79% {
        background: yellow;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    80% {
        background: red;
        -webkit-transform: translate(0, -5px) rotate(0);
        -ms-transform: translate(0, -5px) rotate(0);
        transform: translate(0, -5px) rotate(0);
    }

    85% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@-moz-keyframes second {
    0%, 19% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    20% {
        background: yellow;
        -webkit-transform: translate(0, -5px) rotate(0);
        -ms-transform: translate(0, -5px) rotate(0);
        transform: translate(0, -5px) rotate(0);
    }

    25%, 79% {
        background: yellow;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    80% {
        background: red;
        -webkit-transform: translate(0, -5px) rotate(0);
        -ms-transform: translate(0, -5px) rotate(0);
        transform: translate(0, -5px) rotate(0);
    }

    85% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@-o-keyframes second {
    0%, 19% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    20% {
        background: yellow;
        -webkit-transform: translate(0, -5px) rotate(0);
        -ms-transform: translate(0, -5px) rotate(0);
        transform: translate(0, -5px) rotate(0);
    }

    25%, 79% {
        background: yellow;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    80% {
        background: red;
        -webkit-transform: translate(0, -5px) rotate(0);
        -ms-transform: translate(0, -5px) rotate(0);
        transform: translate(0, -5px) rotate(0);
    }

    85% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes second {
    0%, 19% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    20% {
        background: yellow;
        -webkit-transform: translate(0, -5px) rotate(0);
        -ms-transform: translate(0, -5px) rotate(0);
        transform: translate(0, -5px) rotate(0);
    }

    25%, 79% {
        background: yellow;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    80% {
        background: red;
        -webkit-transform: translate(0, -5px) rotate(0);
        -ms-transform: translate(0, -5px) rotate(0);
        transform: translate(0, -5px) rotate(0);
    }

    85% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@-webkit-keyframes third {
    0%, 19% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    20% {
        background: yellow;
        -webkit-transform: translate(0, 5px) rotate(0);
        -ms-transform: translate(0, 5px) rotate(0);
        transform: translate(0, 5px) rotate(0);
    }

    25%, 79% {
        background: yellow;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    80% {
        background: red;
        -webkit-transform: translate(0, 5px) rotate(0);
        -ms-transform: translate(0, 5px) rotate(0);
        transform: translate(0, 5px) rotate(0);
    }

    85% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@-moz-keyframes third {
    0%, 19% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    20% {
        background: yellow;
        -webkit-transform: translate(0, 5px) rotate(0);
        -ms-transform: translate(0, 5px) rotate(0);
        transform: translate(0, 5px) rotate(0);
    }

    25%, 79% {
        background: yellow;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    80% {
        background: red;
        -webkit-transform: translate(0, 5px) rotate(0);
        -ms-transform: translate(0, 5px) rotate(0);
        transform: translate(0, 5px) rotate(0);
    }

    85% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@-o-keyframes third {
    0%, 19% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    20% {
        background: yellow;
        -webkit-transform: translate(0, 5px) rotate(0);
        -ms-transform: translate(0, 5px) rotate(0);
        transform: translate(0, 5px) rotate(0);
    }

    25%, 79% {
        background: yellow;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    80% {
        background: red;
        -webkit-transform: translate(0, 5px) rotate(0);
        -ms-transform: translate(0, 5px) rotate(0);
        transform: translate(0, 5px) rotate(0);
    }

    85% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes third {
    0%, 19% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    20% {
        background: yellow;
        -webkit-transform: translate(0, 5px) rotate(0);
        -ms-transform: translate(0, 5px) rotate(0);
        transform: translate(0, 5px) rotate(0);
    }

    25%, 79% {
        background: yellow;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }

    80% {
        background: red;
        -webkit-transform: translate(0, 5px) rotate(0);
        -ms-transform: translate(0, 5px) rotate(0);
        transform: translate(0, 5px) rotate(0);
    }

    85% {
        background: red;
        -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@-webkit-keyframes main {
    0%, 19% {
        background: yellow;
    }

    20%, 39% {
        background: red;
    }

    40%, 59% {
        background: deepskyblue;
    }

    60%, 79% {
        background: red;
    }

    80% {
        background: yellow;
    }
}

@-moz-keyframes main {
    0%, 19% {
        background: yellow;
    }

    20%, 39% {
        background: red;
    }

    40%, 59% {
        background: deepskyblue;
    }

    60%, 79% {
        background: red;
    }

    80% {
        background: yellow;
    }
}

@-o-keyframes main {
    0%, 19% {
        background: yellow;
    }

    20%, 39% {
        background: red;
    }

    40%, 59% {
        background: deepskyblue;
    }

    60%, 79% {
        background: red;
    }

    80% {
        background: yellow;
    }
}

@keyframes main {
    0%, 19% {
        background: yellow;
    }

    20%, 39% {
        background: red;
    }

    40%, 59% {
        background: deepskyblue;
    }

    60%, 79% {
        background: red;
    }

    80% {
        background: yellow;
    }
}

.loader-container {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

    .loader-container::after {
        content: "";
        margin-top: 150px;
    }

    .loader-container .outer {
        position: absolute;
        width: 300px;
        height: 120px;
    }

        .loader-container .outer .small {
            position: absolute;
            top: 50%;
            left: 0;
            width: 12px;
            height: 12px;
            margin: -6px -6px;
            border-radius: 50%;
            background: yellow;
            box-shadow: 0 0 2px #000;
        }

        .loader-container .outer .big {
            position: absolute;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            -webkit-animation: left 4s infinite linear;
            -moz-animation: left 4s infinite linear;
            -o-animation: left 4s infinite linear;
            animation: left 4s infinite linear;
        }

            .loader-container .outer .big .small {
                -webkit-animation: main 4s infinite linear;
                -moz-animation: main 4s infinite linear;
                -o-animation: main 4s infinite linear;
                animation: main 4s infinite linear;
            }

            .loader-container .outer .big:last-child {
                right: 0;
                -webkit-animation: right 4s infinite linear;
                -moz-animation: right 4s infinite linear;
                -o-animation: right 4s infinite linear;
                animation: right 4s infinite linear;
            }

                .loader-container .outer .big:last-child .small {
                    left: 100%;
                }

        .loader-container .outer .inner {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 180px;
            height: 60px;
            margin: -30px -90px;
        }

            .loader-container .outer .inner .small:nth-child(1) {
                left: 0%;
                background: deepskyblue;
            }

            .loader-container .outer .inner .small:nth-child(2) {
                left: 33.3333333333%;
                background: red;
            }

            .loader-container .outer .inner .small:nth-child(3) {
                left: 66.6666666667%;
                background: red;
            }

            .loader-container .outer .inner .small:nth-child(4) {
                left: 100%;
                background: deepskyblue;
            }

            .loader-container .outer .inner .small:nth-child(1) {
                -webkit-animation: first 4s infinite linear;
                -moz-animation: first 4s infinite linear;
                -o-animation: first 4s infinite linear;
                animation: first 4s infinite linear;
            }

            .loader-container .outer .inner .small:nth-child(2) {
                -webkit-animation: second 4s infinite linear;
                -moz-animation: second 4s infinite linear;
                -o-animation: second 4s infinite linear;
                animation: second 4s infinite linear;
            }

            .loader-container .outer .inner .small:nth-child(3) {
                -webkit-animation: third 4s infinite linear;
                -moz-animation: third 4s infinite linear;
                -o-animation: third 4s infinite linear;
                animation: third 4s infinite linear;
            }

            .loader-container .outer .inner .small:nth-child(4) {
                -webkit-animation: fourth 4s infinite linear;
                -moz-animation: fourth 4s infinite linear;
                -o-animation: fourth 4s infinite linear;
                animation: fourth 4s infinite linear;
            }
