 .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    min-height: 90vh;
} 


.content img {
    width: 20%;
    height: 20%;
    object-fit: cover;
    margin: 30px;
    border-radius: 5px;
}
/* en content le digo que quiero que me cente el contenido (content_form) en el medio */

.container_form{
    background-color: #ffcb82;
    width: 500px;
    border-radius: 10px;
}

.error{
    font-size: 13px;
    color: #fd0000;
}


.container_form .button {
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: #f7882f;
    margin-bottom: 17px;
}

.container_form .disabled {
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: #878787;
    color: #fff;
    margin-bottom: 17px;
    
}

.container_form .form_select {
    padding: 20px;
}



.input_box label {
    font-size: 16px;
    display: block;
    font-weight: bold;
    font-size: italic;
    margin-block: 15px;
}

.input_box input {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 3px;
}