.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    margin: 40px 0 30px 0;
}

.pagination button {
    width: 20px;
    height: 20px;
    font-weight: 400;
    font-size: 13px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: #101010;
    border: none;
}

.pagination button:hover{
    border: .6px solid #101010;
    background: #E89F71;
}

.pagination button.active {
    font-weight: 900;
    border: .6px solid #101010;
    background: #E89F71;
    color: #101010;
}